<config platform="project" template="project (default)">Created: Thu Jan 1 21:05:12 2015
By: Hassan
Using Template: project (default)

&lt;description to go here>
<option fromDef="true" name="icon" value=""/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value=""/>
    <option fromDef="true" name="name" value="Math Practice Lite"/>
    <option fromDef="true" name="caption" value="Math Practice Lite"/>
    <option fromDef="true" name="provider" value="Hassan"/>
    <option fromDef="true" name="copyright" value="(C) Hassan"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
</config>
